/*-------------------- Estilos creados por Galeano Santiago ------------------*/
/*---------------------------- Aspectos Generales ----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --celesteClaro:#769ECB;
    --azulGris:#758f9c;
    --azulMorado:#516091;

    /*prueba*/
    --bs-blue: #0d6efd;
    --bs-indigo-: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --funBlue:#175a9e;
    --shark:#1e1e1f;
    --white_1:#f6f7f1;
    --bg-colorVidrio:rgba(255, 255, 255, .15);
    --backdrop-filterVidrio:blur(5px);
    --azulIntenso:#090979;
    --negroIn:#020024;
    --rojoOscuro:#C81D11;
    --rojoBrillante: #FF0800;
    --celesteBrillante:#00d4ff;
    --azulFooter:#1b2a4e;
    --azulNavBar: rgb(17, 0, 255);
    --blackTitulos:#444649;
    --greyPs:#616161;
    --blackYT:#181818;
    --linesYT:#303030;
    --blackYT2:#202020;
    --blackYT3:#313131;
    --whiteYT:#f9f9f9;
    --tittlepurple:#1f2667;
    /* --z1:#232741; */
    --z1:#0f172a;
    --z2:#2c2e43;
    --z3:#222733;
    --z4:#080d17;
    --dark-github:#0d1117;
    --dark-github-2: #161b22;
    --dark-beauty:#1e242c;
    --dark-beauty-2:#171925;
    --dark-brauty-3:#252934;

    /* Colores nuevos */
    --bs-indigo: #BE1206;
    --blur-indigo: rgba(74, 52, 169, 0.6);

    --gameBlue: #0f172a; /*15 23 42*/
    --gameBlueLight: #1e293b; 
    --gameLips: #be123c; /*190 18 60*/
    --gameBlood: #BE1206; /*190 18 6*/

    /* colores de HUMAYA */
    --second:#bca177;
}

body{
    font-family: sans-serif;
    max-width: 100% !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    background:var(--z1);
    height:1000vh;
    color:var(--bs-light);
}

/* --------------------- Navbar ---------------------*/
#navbar{
    min-height:70px;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
}
#navbar ul{
    /* margin-right:50px; */
    font-size:1.25rem;
}
nav.fixed#navbar {
    animation: popDown 0.5s;
}


nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 3; /*Quitar mas tarde si hace falta*/
}

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }

.active-item{           /*Para utilizar en js*/
    color:var(--bs-danger) !important;
    transform: translateX(5px) scale(1) !important;
}

/* --------------------- Inicio ---------------------*/
#inicio{
    background: linear-gradient(rgba(5,7,8, 0.2), rgba(5,7,8, 0.3)), url("../img/fondo-header.jpg");
    /*Parallax*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: repeat;
    color:var(--bs-light);
}

/* ---- Para centrar el texto en el header. 
---- Controlar la altura desde una sola ubicacion ---- */
#inicio, #inicio .row{
    height:600px;
}

#inicio .row>.col-blur{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    padding:20px 20px;

}
#inicio .row .col-blur .div-btn{
    display:flex;
    justify-content:center;
}

#inicio .row>.col-12 button{
    padding:10px 30px;
    border-radius:50px;
}
#inicio .row .col-12 .cont-icon{
    width:100px;
    position: absolute;
    /* left:25% //Original*/
    left:50%;
    animation: movimientoCircular 15s linear infinite;
    
}
#inicio .row .col-12 .cont-icon span{
    font-weight:bolder;
}
#inicio .row .col-12 .icon{
    /* width:100px; */
    background:var(--bs-light);
    border-radius:50%;
    padding:5px;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);

}
#inicio .row .col-12 .icon img{
    width:100%;
} 
#inicio .row .col-12 .icon:nth-child(1) img{
    width:90% !important;
}
/* Delay para los iconos */
.img-animate-1 {
    animation-delay: -5s !important;
}

.img-animate-2 {
    animation-delay: -10s !important;
}

.img-animate-3 {
    animation-delay: -15s !important;
}

@keyframes movimientoCircular {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(100px) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(100px) rotate(-360deg);
    }
}

/* ------------------------------------------ Productos ------------------------------------------ */
#productos{
    padding:0 0 30px;
}
#productos h1{
    text-align:center;
    color:var(--second);
    background:var(--dark-brauty-3);
    padding:25px 0;
    margin-bottom:0;
}
#productos .col-prod-text{
    padding:60px 100px;
    background:var(--dark-github);
}
#productos .col-prod-text h2{
    color:var(--second);
    text-align:center;
    margin-bottom:40px;
}
#productos .col-prod-text .text-gold{
    color:var(--second);
    font-weight:bolder;
}
#productos .col-prod-text .cont-btn-prod{
    text-align:center;
    padding:40px 0 0 0;
    /* border:1px solid #fff; */
}
#productos .col-prod-text .cont-btn-prod button{
    border:1px solid var(--second);
    border-radius:0;
    color:var(--second);
}
#productos .col-prod-img{
    overflow:hidden;
    /* max-height:400px; */
    padding:0;
}
#productos .col-prod-img img{
    width:100%;
    height:100%;
    object-fit:cover;       /*Para que la imagen no se quede chata :p */
}
/* ------------------------------------------Seccion de media querys------------------------------------------ */
/* Escritorio extra grande */
@media only screen and (min-width: 1200px){
    /* --------------------- Navbar ---------------------*/
    #navbar .navbar-nav{
        gap:60px;

    }

    /* --------------------- Inicio ---------------------*/

    #inicio .row .col-blur .div-btn{
        justify-content:end;
    }

    #inicio .row .col-12 .cont-icon{
        width:115px;
    }

    @keyframes movimientoCircular {
        0% {
            transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(-360deg);
        }
    }
}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* --------------------- Navbar ---------------------*/
    #navbar .navbar-nav{
        gap:60px;

    }

    /* --------------------- Inicio ---------------------*/
    #inicio .row .col-blur .div-btn{
        justify-content:end;
    }


    #inicio .row .col-12 .cont-icon{
        width:115px;
    }
    @keyframes movimientoCircular {
        0% {
            transform: translate(-50%, -50%) rotate(0deg) translateX(150px) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg) translateX(150px) rotate(-360deg);
        }
    }
}

/* Tablets y smartphones */
@media only screen and (max-width: 767px){
    /* --------------------- Inicio ---------------------*/

    /* Altura general */
    #inicio, #inicio .row{
        /* padding:40px 0; */
        height:550px;
    }
    #inicio .row>.col-12 button{
        margin:auto !important;
    }
    
    #inicio .row .col-icons{
        height:200px;
        /* border:1px solid red; */
        padding-top:40px;
        position:relative;
    }
    #inicio .row .col-12 .cont-icon{
        width:100px;
        left:50%;
        top: 50%;
        /* animation:none; */
    }
    #inicio .row .col-12 .cont-icon .icon{
        width:70px;
        margin:auto;
    }
    
    @keyframes movimientoCircular {
        0% {
            transform: translate(-50%, -50%) rotate(0deg) translateX(80px) rotate(0deg);
        }
        100% {
            transform: translate(-50%, -50%) rotate(360deg) translateX(80px) rotate(-360deg);
        }
    }
}

/* Tablets y smartphones MAS ESPECIFICO*/
@media only screen and (min-width: 768px) and (max-width: 991px){

}

/*Celulares*/
@media only screen and (max-width: 575px){
/* --------------------- General ---------------------*/
    p{
        font-size:0.88rem;
    }

/* --------------------- Inicio ---------------------*/
    #inicio{
        background-size: 270%;
        /* background-position:20% 20%; */
    }

    #inicio .col-blur{
        width:90%;
        margin:auto;
    }
}

/* Mediaqueries especial pantallas pequeñas */
@media only screen and (max-width:465px){
/* --------------------- Inicio ---------------------*/

    #inicio .col-blur{
        width:95%;
        background: rgba(0, 0, 0, 0.3) !important;

    }
    /* #inicio .row .col-12 .cont-icon .icon{
        width:70px;
    } */
}

/*Celulares angostos*/
@media only screen and (max-width:375px){
/* --------------------- Inicio ---------------------*/
    #inicio{
        background-size: 300%;
        /* background-position:50% 80%; */
    }
}