/*-------------------- Estilos creados por Galeano Santiago ------------------*/
/*---------------------------- Aspectos Generales ----------------------------*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --celesteClaro:#769ECB;
    --azulGris:#758f9c;
    --azulMorado:#516091;

    /*prueba*/
    --bs-blue: #0d6efd;
    --bs-indigo-: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --funBlue:#175a9e;
    --shark:#1e1e1f;
    --white_1:#f6f7f1;
    --bg-colorVidrio:rgba(255, 255, 255, .15);
    --backdrop-filterVidrio:blur(5px);
    --azulIntenso:#090979;
    --negroIn:#020024;
    --rojoOscuro:#C81D11;
    --rojoBrillante: #FF0800;
    --celesteBrillante:#00d4ff;
    --azulFooter:#1b2a4e;
    --azulNavBar: rgb(17, 0, 255);
    --blackTitulos:#444649;
    --greyPs:#616161;
    --blackYT:#181818;
    --linesYT:#303030;
    --blackYT2:#202020;
    --blackYT3:#313131;
    --whiteYT:#f9f9f9;
    --tittlepurple:#1f2667;
    /* --z1:#232741; */
    --z1:#0f172a;
    --z2:#2c2e43;
    --z3:#222733;
    --z4:#080d17;
    --dark-github:#0d1117;
    --dark-github-2: #161b22;
    --dark-beauty:#1e242c;
    --dark-beauty-2:#171925;
    --dark-brauty-3:#252934;

    /* Colores nuevos */
    --bs-indigo: #BE1206;
    --blur-indigo: rgba(74, 52, 169, 0.6);

    --gameBlue: #0f172a; /*15 23 42*/
    --gameBlueLight: #1e293b; 
    --gameLips: #be123c; /*190 18 60*/
    --gameBlood: #BE1206; /*190 18 6*/
}

body{
    font-family: sans-serif;
    max-width: 100% !important;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
    /* background:var(--z1); */
    height:1000vh;
}

/* --------------------- Navbar ---------------------*/
#navbar{
    min-height:70px;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 20%), 0 4px 10px 0 rgb(0 0 0 / 20%);
}
#navbar ul{
    /* margin-right:50px; */
    font-size:1.25rem;
}

/* --------------------- Inicio ---------------------*/
#inicio{
    background: linear-gradient(rgba(5,7,8, 0.2), rgba(5,7,8, 0.3)), url("../img/fondo-header.jpg");
    /*Parallax*/
    background-attachment: fixed;
    background-position:center;
    background-repeat: repeat;
    color:var(--bs-light);
}

/* ---- Para centrar el texto en el header. 
---- Controlar la altura desde una sola ubicacion ---- */
#inicio, #inicio .row{
    height:600px;
}

#inicio .row>.col-12{
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.36);
    border-radius: 16px;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    padding:20px 20px;

}
#inicio .row>.col-12 button{
    padding:10px 30px;
    border-radius:50px;
}
/* ------------------------------------------Seccion de media querys------------------------------------------ */
/* Escritorio extra grande */
@media only screen and (min-width: 1200px){
    /* --------------------- Navbar ---------------------*/
    #navbar .navbar-nav{
        gap:60px;

    }
}

/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    /* --------------------- Navbar ---------------------*/
    #navbar .navbar-nav{
        gap:60px;

    }
}